@model Core.Entities.Produit


<div class="card" style="width: 30rem;">
    <div class="card-header"><h3>Détails du produit</h3></div>
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nom: @Model.Nom</h5>
        <h5 class="card-text">Descriptions:@Model.Description</h5>
        <h5 class="card-title">Prix: @Model.Prix</h5>
        <h5 class="card-title">Quantité: @Model.Quantite</h5>
        <h5 class="card-title">EnStock: @Model.EnStock</h5>

    </div>
</div>